<p><%= comment.user.full_name %></p>
<p><%= comment.body %></p>
<% if comment.user == current_user %>
  <%= link_to 'Delete Comment', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>