<% if flash[:error] %>
    <p><%= flash[:error] %></p>
<% end %>
<%= form_with model: ([@post, @post.comments.build]) do |form| %>
    <%= form.text_area :body, size: "50x1" %>
    <%= form.submit %>
<% end %>