<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>
<%= form_with model: ([@post, @post.comments.build]), class: 'comment-form-container' do |form| %>
  <%= form.text_area :body, size: "50x1", class: 'comment-input' %>
  <%= form.submit class: 'comment-button' %>
<% end %>
