<ul>
  <% @friends.each do |friend| %>
    <li><%= friend.full_name %> sent you a friend request.</li>
  <% end %>
  <% @post_likes.each do |like| %>
    <li><%= like.user.full_name %> liked your post.</li>
  <% end %>
</ul>
