<ul>
  <% @friends.each do |friend| %>
    <li><%= link_to("#{friend.full_name} sent you a friend request.", users_path )%></li>
  <% end %>
  <% @post_likes.each do |like| %>
    <li><%= like.user.full_name %> liked your post.</li>
  <% end %>
  <% @comment_likes.each do |like| %>
    <li><%= like.user.full_name %> liked your comment.</li>
  <% end %>
  <% @comments.each do |comment| %>
    <li><%= comment.user.full_name %> commented on your post.</li>
  <% end %>
</ul>
