<h2>Find Friends</h2>
<br>
<% @not_friends.each do |not_friend| %>
	<p><%= not_friend.full_name %></p>
	<% if Friendship.already_sent?(current_user.id, not_friend.id) %>
		<button disabled="disabled">Invite sent</button>
		<%= button_to "Cancel Invite", friendship_path(not_friend.id), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% else %>
		<%= button_to 'Add Friend', 
             {controller: 'friendships', action: 'create', user_id: current_user.id, friend_id: not_friend.id},
              method: :post %>
	<% end %>
<% end %>
