<div class='feed-container'>
<div class='new-post-container'>
	<h2 class='new-post-title'>New <i class="fas fa-sign new-post-icon"></i></h2>
	<%= render 'posts/form' %>
	</div>
<section class='posts-container'>
		<%= render @posts %>
</section>
</div>
