	<div class='post-container'>
		<h2 class='post-title'>New <i class="fas fa-sign"></i></h2>
		<% if @post.errors.any? %>
			<% @post.errors.full_messages.each do |message| %>
				<h3><%= message %></h3>
			<% end %>
		<% end%>
		<%= render 'posts/form' %>
	</div>
