@import 'variables';

.comment-form-header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $black;
    color: white;
    margin: 1em;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.comment-form-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.comment-form-container>* {
    margin: 0.5em;
}

.comment-input {
    width: 90%;
    height: 5vh;
    padding: 1em 0.6em;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    
}

.comment-button {
    width: 60%;
    padding: 1em;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    background: $purple;
}

.comment-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
}

.comment-header>* {
    margin: 0.5em 0em;
}

.comment-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0em;
    width: 100%;
    margin: 1em;
    padding: 0.5em;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    background: $black;
}

.comment-container {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 1em;
    box-sizing: border-box;
    background: white;
    margin: 0.5em 0;
}

.comments-container {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $black;
    color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 1em 0;
}

.comments-container>* {
    margin: 0.2em 0;
}

.comment-actions a {
    background: $purple;
    padding: 0.4em;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.comment-date {
    font-weight: lighter;
}

@media only screen and (min-width: 850px) {
    .comment-form-header-container {
        width: 40%;
    }

    .comment-input {
        width: 60%;
        height: 10vh;
    }
  
    .comment-button {
        width: 25%;
    }

    .comment-container {
        width: 50%;
    }

    .comments-container {
        width: 40%;
    }
  }