.devise-container {
    grid-area: main;
    text-align: center;
}
.devise-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.5em;
}

.field input {
    border: 1px solid black;
}

.actions {
    padding: 0.5em;
}

.label {
    padding: 0.5em 0em 0.5em 0em;
}

.devise-links{
    display: flex;
    flex-direction: column;
}

.devise-links a {
    padding: 0.2em;
}

.error-explanation h2 {
    font-size: 1em;
    color: red;
}

.error-message {
    list-style: none;
    color: red;
}