nav {
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: black;
}

/* Sign in navbar */



/* Logged in navbar */